

img[alt=crisis] { width: 200px; }

img[alt=tmux] { width: 200px;}

img[alt=logo] { width: 200px;}

img[alt=img] { 
    width: 90%;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}