{{ if isset .Site.Params "favicon" }}
<link href="{{ .Site.Params.favicon }}" rel="shortcut icon" type="image/x-icon" />
{{ end }}

{{ if eq .Type "posts" }}
<!-- Page Author & Description -->
<meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} " />
<meta name="description" content="{{ .Summary | plainify }}" />
{{ else }}

<!-- Site Author & Description -->
<meta name="author" content="{{ .Site.Params.author }}"  />
<meta name="description" content="{{ .Description | plainify }}" />

<!--CUSTOM HEADER-->

<title>Animesh Roy | Classroom Posts</title>
<meta name="title" content="Animesh Roy | Blogs & Writeups">
<meta name="description" content="Animesh Roy has more than a decade worth experience working in cyber security domain. He has worked with governments, corporates, colleges and universities, defence, and the community. He also running a community “Arishti Live” to help everyone who wants to, or work in cyber security domain. His expertise on training & consulting are the best of both the world. He uses his real-life case studies in trainings, to help candidates to understand the job in better ways.">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SPD6BXK0P5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SPD6BXK0P5');
</script>
<!--End GTag-->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://classroom.anir0y.in/">
<meta property="og:title" content="Animesh Roy | Blogs & Writeups">
<meta property="og:description" content="This blog contents writeups from CTFs and other infosec related posts also some task related to Classroom training">
<meta property="og:image" content="https://i.imgur.com/Ji5C41H.png">


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">

<meta property="twitter:title" content="Animesh Roy | Blogs & Writeups">
<meta property="twitter:description" content="This blog contents writeups from CTFs and other infosec related posts also some task related to Classroom training">
<meta property="twitter:image" content="https://i.imgur.com/Ji5C41H.png">
<!-- End Meta-->

<!--start-->
<script data-ad-client="ca-pub-3526678290068011" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!--End-->
<!-- <meta name="description" content="{{ .Site.Params.description }}" /> -->
{{ end }}

<!-- Google Ads-->
<script data-ad-client="ca-pub-3526678290068011" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- End-->



<link rel="canonical" href="{{ .Permalink }}" />

<!-- Open Graph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}

<link rel="stylesheet" href="{{ "/css/semantic.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/icomoon.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/OverlayScrollbars.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/github-markdown.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/site.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" />

<style>
  a:not(.ui.button):hover {
    text-decoration: underline;
  }

  {{ if .Site.Params.linkColor }}
  a:not(.ui.button) {
    color: {{ .Site.Params.linkColor }} !important;
  }
  {{ end }}

  {{ if .Site.Params.darkLinkColor }}
  .inverted a:not(.ui.button),
  .inverted a:not(.ui.button):hover {
     color: {{ .Site.Params.darkLinkColor }} !important;
  }
  {{ end }}

  {{ if or .Site.Params.background .Site.Params.backgroundImage }}
  body.default {
    {{ if .Site.Params.background }}
    background-color: {{ .Site.Params.background }};
    {{ end }}

    {{ if .Site.Params.backgroundImage }}
    background-image: url({{ .Site.Params.backgroundImage }});
    {{ end }}
  }
  {{ end }}

  {{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
  body.dark {
    {{ if .Site.Params.backgroundDark }}
    background-color: {{ .Site.Params.backgroundDark }};
    {{ end }}

    {{ if .Site.Params.backgroundImageDark }}
    background-image: url({{ .Site.Params.backgroundImageDark }});
    {{ end }}
  }
  {{ end }}
</style>
